<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">

  <title>{% if page.title %}HOKO - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="keywords" content="deep linking platform for mobile apps, deep link sdk for ios and android, deep linking framework, hoko, measure app traffic and engagement, deep link metrics, link redirection system, deep link ad retargeting, mobile dashboard analytics"/>

  <meta property="og:title" content="{% if page.title %}HOKO - {{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://i.imgur.com/Ca9Dgsm.jpg"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="fb:admins" content="914894198529718"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@HokoLinks" />
  <meta name="twitter:url" content="https://hokolinks.com">
  <meta name="twitter:title" content="{% if page.title %}HOKO - {{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="http://i.imgur.com/Ca9Dgsm.jpg">

  <script src="//use.typekit.net/mie1smk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/assets/scripts/typeahead.bundle.min.js"></script>
  <script src="/assets/scripts/scripts.js"></script>
</head>
