body, html {
    background: #2f3e64;
    background-image: url('/assets/images/bg.png');
    font-family: 'proxima-nova', Helvetica, sans-serif;
}

h2 {
  margin-top: 40px;
}


.page-content {

  .wrapper {
    border-radius: 6px;
    background: white;
    padding: 0;
    box-shadow: 0 0 21px rgba(0,0,0,.21);
  }
}

.sidebar {
    width: 270px;
    float: left;
    padding: 47px 30px;


    ul {
        li {
            float: none;
            display: block;
            font-size: 19px;
            font-weight: 400;
            color: #2b2b2b;

            li {
                font-size: 14px;
                padding-left: 15px;
                font-weight: 300;
            }
        }
    }

    @include media-query($on-palm) {
        display: none;
    }
}

.sidebar > ul > li,
.sidebar > div > ul > li {
  margin-bottom: 14px;
}


.content {
    width: 690px;
    float: left;
    background: white;
    padding: 47px 30px;
    border-left: 1px solid #ddd;

    ul {
        padding-left: 20px;
        margin-bottom: 15px;
        li {
            float: none;
            display: block;
            font-size: 16px;

            p {
                margin-bottom: 5px;

                &:before {
                    content: '- ';
                    color: #333;
                    font-size: 12px;
                    margin-right: 5px;
                }
            }

            li {
                font-size: 14px;
                padding-left: 15px;
                font-weight: 300;
            }
        }
    }


    @include media-query($on-palm) {
        width: 100%;
        border-radius: 6px;
    }
}

.breadcrumb {
    display: inline-block;
    width: 100%;
    background: #F0F0F0;
    padding: 13px 13px 11px 30px;
    border-radius: 6px 6px 0 0;
    border-bottom: 2px solid #ddd;
    margin-bottom: -7px;

    ul {
      line-height: 2.3em;
    }

    li {
        margin-right: 13px;
        font-size: 15px;
        font-weight: 400;

        &:after {
            content: '/';
            padding-left: 13px;
            color: #aaa;
            font-weight: 600;
        }

        &:last-of-type:after {
            content: '';
        }
    }
}


.main-menu {
    li {
        margin-left: 15px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.06em;
        line-height: 32px;

        a {
            color: white;
        }
    }
}

.btn {
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px 10px;
    letter-spacing: 0.06em;
    font-size: 12px;
    color: white!important;
    text-transform: none;

    &:hover {
        color: black!important;
        background: white;
        text-decoration: none;
    }

    &.primary {
        color: #79c237!important;
        border-color: #79c237;

        &:hover {
            color: white!important;
            background: #79c237;
        }
    }

    @include media-query($on-palm) {
        font-size: 12px;
        padding: 4px 8px;
    }

}

.site-header {
    padding: 40px 0;

    @include media-query($on-palm) {
        padding: 20px 0;
    }
}

/**
 * Site header
 */


.static-menu {
    float: right;
    display: inline-block;
    padding-top: 7px;

    @include media-query($on-palm) {
        position: absolute;
        top: 29px;
        right: 65px;
    }
}

.site-title {
    display: inline-block;
    width: 120px;

    @include media-query($on-palm) {
        width: 95px;
    }
}

.header {
  background: #1B182A;
  padding: 20px 0;
}

.header-logo {
  float: left;
}

.header-links {
  float: right;
}

.site-nav {
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 14px;
        right: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 2px rgba(0,0,0,0.12);
        border-radius: 5px;
        text-align: right;
        padding-left: 0;

        li {
            display: block;
            float: none;
            font-size: 15px;
            text-align: left;
            padding: 5px 20px;
            border-bottom: 1px solid #ddd;
            margin: 0;

            &:last-of-type {
                border: none;
            }

            a {
                color: black;
                text-transform: none;
                letter-spacing: 0;
                font-weight: 500;
            }
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            line-height: 0;
            padding: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;

            .btn {
              color: black!important;
              border: none;
              padding: 0;
              font-size: 15px;

              &:hover {
                background: transparent;
                text-decoration: underline!important;
              }
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            // padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: 0 0 $spacing-unit;
    color: white;
    font-size: 12px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 15px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: 10px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: #1B182A;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 35px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.content .toc {
    list-style: none;
    margin: 0 0 35px;
    border-radius: 6px;
    padding: 0;

    li {
        background: #F7F9FB;
        padding: 0 20px;
        &:first-of-type {
            padding-top: 20px;
            border-radius: 6px 6px 0 0;
        }

        &:last-of-type {
            padding-bottom: 20px;
            border-radius: 0 0 6px 6px;
        }
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.suggest-edits {
  float: right;
}

.suggest-edits-btn {
  background-color: transparent;
  padding: 6px 20px 6px 35px;
  color: #333!important;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  background-image: url('/assets/images/pencil.svg');
  background-size: 12px 12px;
  background-position: 15px 9px;
  background-repeat: no-repeat;
  border: 1px solid #999;

  &:hover {
    background-color: #ddd;
    text-decoration: none;
  }
}
