.search-input {
  padding: 9px 9px 9px 30px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #aaa;
  width: 216px;
  background-image: url("/assets/images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 18px;
  font-size: 13px;
  transition: width 230ms ease;

  &:focus {
    border-color: #666;
    width: 270px;

    + .search-results {
      opacity: 1;
    }
  }
}

.search-results {
  position: absolute;
  background: white;
  width: 270px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 99;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  opacity: 0;
  transition: opacity 100ms ease;

  li {
    line-height: 1;
    display: block;
    width: 100%;
    text-align: left;
    white-space: nowrap;

    &.selected {
      background: red;
    }

    &:after {
      display: none;
    }

    &[class*="category"] {
      display: none !important;
    }
  }
}

.search-result {
  .category-name {
    font-size: 12px;
    font-weight: 600;
    color: #2b2b2b;
    margin: 0;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 6px;
  }

  a {
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    padding: 8px 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: none;
      background: #f7f9fb;
      border-radius: 4px;
      span {
        text-decoration: none;
      }
    }
  }
}
