<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">
        <div class="breadcrumb">
          <ul id='breadcrumb'>
            {% if page.categories %}
              <li><a href="/">Home</a></li>
              {% for category in page.categories %}
                <li><a href="/{{category}}">{{ category | capitalize }}</a></li>
              {% endfor %}
            {% endif %}
            <li class="active">{{ page.title }}</li>
          </ul><!-- /.breadcrumb #breadcrumb -->
        </div>

        <div class="sidebar">
          {% if page.portal == "developer" %}
            {% include _sidebar_developer.html %}
          {% elsif page.portal == "learn" %}
            {% include _sidebar_learn.html %}
          {% else %}
            {% include _sidebar_developer.html %}
          {% endif %}
        </div>

        <div class="content">
          {{ content }}
        </div>

      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
